.card {
    border-radius: 10px;
}

.quiz-image {
    width: 80px;
    height: 80px;
    max-width: 80px;
    max-height: 80px;
    object-fit: cover;
    overflow: hidden; /* Prevents larger images from expanding outside */
    margin: 0 auto 10px auto;
    display: block;
    border-radius: 8px;
}

.image-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 100%;
    max-width: 150px;
    text-align: center;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    min-height: 150px;
}

.image-button:hover {
    background-color: #e2e6ea;
}

button {
    width: 100%;
    margin: 5px 0;
}

#feedback {
    font-size: 1.2em;
    font-weight: bold;
}

.text-answer-button {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    text-align: center;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.text-answer-button:hover {
    background-color: #e2e6ea;
}
